
body{
  width:100%;
}
.cities{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(229,209,146,1) 7%, rgba(96,198,179,1) 30%, rgba(241,210,143,1) 100%);
}
a{
color:white;

}

footer {
  background-color: black;
  padding:10px;
  text-align: center;
  color: white;
}
.navbar{
  background-color:black;
}
.col-8{
  background-color: black;
}
p
{
text-align: justify;
  text-justify: inter-word;	}
p.clear {
  clear: both;
}
.imgs
{
width:75px;
height:75px;
}
h1
{
align:center;
}

h2
{
  color:white;
  text-align:center;

}

hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(76, 175, 80, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgb(255, 0, 0, 0.6);;}
footer
{
	height:400px;
	background-color:black;
}
#nav-link,#nav-item,a{
	color:white;
}
#graphs{
  display:inline-block;
  float:left;
  height:85%;
  width:32.5%;
}

#author a{
  color: #fff;
  text-decoration: none;

}
#container,#container1,#container2
{
  height:100%;
  width:100%;

}
